* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gemunu Libre', sans-serif;
	font-family: 'Peralta', cursive;
}

body {
	background-image: url(../img/universo.jpg);
	background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
}

.card{
	position: relative;
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	transition: .5s;
}

.card:hover{
	box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
	transform: translate(-15px );
}

.card .head {
	height: 125px;
	width: 100%;
	position: relative;
}

.card .head .circle {
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background: #0b6f72;
	bottom: 0;
}

.card .head .img{
	width: 150px;
	height: 150px;
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 50%;
	bottom: -30%;
	left: 50%;
	transform: translate(-50%);
}

.card .head .img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.card .description {
	height: 200px;
	padding: 40px 20px 20px 20px;
	border-bottom: solid 1px rgba(6, 74, 76, .18);
	text-align: center;
}

.card .description h3{
	color: #05383a;
}

.card .description h4{
	color: #1c5a5c;
}

.card .description p{
	margin-top: 20px;
	font-size: 15px;
}

.card .contact{
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card .contact a{
	text-decoration: none;
	color: #fff;
	background: #157579;
	padding: 5px 20px;
	border-radius: 5px;
	transition: .3s;
}

.card .contact a:hover{
	background: #0b6164;
}


button {
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #350642;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover {
    color: #fff;
}

button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}
